<div id="app_links" style="margin-top: 10%; text-align: center">
  <div style="font-size: 22px; padding: 21px">You can install mobile app using following links.</div>
  <span>
   <%= link_to "https://itunes.apple.com/us/app/profiler-life/id1251573847?mt=8" do %>
     <%= image_tag('apple.png')%>
    <% end %>
  </span>

  <span>
    <%= link_to "https://play.google.com/store/apps/details?id=profiler-us.com" do %>
        <%= image_tag('g.png')%>
    <% end %>
  </span>
  </div>
