<!doctype html>
<html>
<body leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" offset="0"
      style="margin: 0pt auto; padding: 0px; background:#F4F7FA;">
<h2>Hi Admin!</h2>

<p><%= @content%></p>
</body>
</html>