<footer class="main-footer">
  <div class="pull-right hidden-xs">
    <b>Version</b> Profiler Development
  </div>
  <strong>Copyright &copy; 2019 <a href="https://profiler-dev.herokuapp.com/">Profiler</a>.</strong> All rights
  reserved.
</footer>