<section class="content1">
  <!-- Small boxes (Stat box) -->
  <div class="row">

    <!Orders-- ./col -->
    <div class="col-lg-3 col-xs-6">
      <!-- small box -->
      <div class="small-box bg-blue-gradient">
        <div class="inner">
          <h3><%= User.count %></h3>

          <p>User Registrations</p>
        </div>
        <div class="icon">
          <i class="ion ion-person-add"></i>
        </div>
        <!--<a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>-->
      </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-xs-6">
      <!-- small box -->
      <div class="small-box bg-yellow">
        <div class="inner">
          <h3><%= Event.count %></h3>

          <p>Events</p>
        </div>
        <div class="icon">
          <i class="fa fa-edge"></i>
        </div>
        <!--<a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>-->
      </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-xs-6">
      <!-- small box -->
      <div class="small-box bg-aqua-active">
        <div class="inner">
          <h3><%= Service.count %></h3>

          <p>Services</p>
        </div>
        <div class="icon">
          <i class="ion ion-earth"></i>
        </div>
        <!--<a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>-->
      </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-xs-6">
      <!-- small box -->
      <div class="small-box bg-red">
        <div class="inner">
          <h3><%= 1 %></h3>

          <p>Payments</p>
        </div>
        <div class="icon">
          <i class="ion ion-cash"></i>
        </div>
        <!--<a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>-->
      </div>
    </div>
    <!-- ./col -->
  </div>
  <!-- /.row -->


</section>
